{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section>
    <main>
        <section>
            <div class="image-wrapper" data-aos="fade-up"
                 data-aos-duration="3000">

                <div class="overlay-top"></div>
                <div class="bottom-divider"></div>

                <div id="textCarousel"
                     class="carousel carousel-fade image-text"
                     data-bs-ride="carousel"
                     data-bs-interval="3000"
                     data-aos="fade-up"
                     data-aos-duration="3000"
                    >
                    <div class="carousel-inner text-center container">

                        <div class="carousel-item active">
                            <h2 class="fs-2">Flaveur est un cabinet de conseils et de services</h2>
                            <p class="fs-3">
                                qui accompagne les filières et les territoires dans leurs projets durables grâce à des prestations de conseils stratégiques<br>
                                et opérationnelles au service des entreprises, les réseaux d’acteurs et des collectivités
                            </p>
                        </div>

                        <div class="carousel-item">
                            <h2 class="fs-2">Son crédo :</h2>
                            <p class="fs-3">
                                se mettre à l'écoute du terrain, <br>
                                valoriser la différence et développer des projets audacieux !
                            </p>
                        </div>

                    </div>

                </div>

                <div class="carousel-indicators animate__animated animate__fadeInUp animate__delay-3s">
                    <button type="button" data-bs-target="#textCarousel" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#textCarousel" data-bs-slide-to="1"></button>
                </div>

            </div>
        </section>

        {# ===================================================== #}
        {# VALUE SECTION #}
        {# ===================================================== #}

        <section id="added-value" class="text-center">

            <div class="div-added-value">

                <div class="d-flex justify-content-center position-relative">
                    <span class="spanTopBottom"></span>

                    <svg class="svgHomePage" width="26" height="26" viewBox="0 0 24 24">
                        <circle cx="12" cy="12" r="8" fill="none" stroke="#007fe0" stroke-width="1.5"/>
                        <text x="12" y="15" text-anchor="middle" dominant-baseline="middle" font-size="20" fill="#007fe0" transform="translate(0,3)">
                            ❞
                        </text>
                    </svg>
                </div>

                <div class="row justify-content-center" style="color:#333">

                    <div class="md:mx-0 mx-20 col-6 text-center">

                        <p class="fs-3">Une expertise engagée</p>

                        <p class="fs-5">
                            Après un parcours au sein de tour-opérateurs internationaux, Cécile est désormais spécialisée dans les enjeux de développement durable locaux pour les territoires,
                            les entreprises et les organisations d’intérêts collectifs engagés dans des démarches responsables et de tourisme durable et solidaire.<br><br>

                            Aujourd’hui, elle intervient plus particulièrement sur des missions d’ingénierie territoriale, de concertation d’acteurs et d’accompagnement stratégique et opérationnel.<br><br>

                            Cécile possède une sensibilité particulière pour les projets liés aux filières de terroir, notamment dans les secteurs viticole et alimentaire.
                        </p>

                        <h2 class="fs-5 fw-bold">
                            Flaveur c’est avant tout :
                        </h2>

                    </div>

                </div>

                <div class="container mt-20 sectionIconAddedValue">

                    <div class="row g-4 justify-content-center text-center fs-4">

                        <div class="col-12 col-md-6 col-lg-3 d-flex flex-column align-items-center gap-2" data-aos="fade-up"
                             data-aos-duration="3000">
                            {{ component('CheckCircle') }}
                            <p>Des réalisations <br> minutieuses</p>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3 d-flex flex-column align-items-center gap-2"
                             data-aos="fade-up"
                             data-aos-duration="3000">
                            {{ component('CheckCircle') }}
                            <p>De l'engagement</p>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3 d-flex flex-column align-items-center gap-2"
                             data-aos="fade-up"
                             data-aos-duration="3000">
                            {{ component('CheckCircle') }}
                            <p>De l'adaptation</p>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3 d-flex flex-column align-items-center gap-2"
                             data-aos="fade-up"
                             data-aos-duration="3000"
                        >
                            {{ component('CheckCircle') }}
                            <p>De l'écoute</p>
                        </div>

                    </div>

                </div>

                <div class="d-flex justify-content-center position-relative mt-5">

                    <span class="spanTopBottom"></span>

                    <svg class="svgHomePage" width="26" height="26" viewBox="0 0 24 24">
                        <circle cx="12" cy="12" r="8" fill="none" stroke="#007fe0" stroke-width="1.5"/>
                        <text x="12" y="15" text-anchor="middle" dominant-baseline="middle" font-size="20" fill="#007fe0" transform="translate(0,3)">
                            ❞
                        </text>
                    </svg>

                </div>

                <div class="d-flex justify-content-center">

                    <div class="text-center col-6">

                        <h2 class="fs-3 mb-5">
                            Parce que les transitions vers des projets durables<br>
                            se construisent collectivement…
                        </h2>

                        <div class="fs-5 mx-auto">
                            Flaveur s’appuie sur un réseau de partenaires partageant des valeurs communes autour du développement durable, de l’économie sociale et solidaire, de la culture et de l’innovation.<br><br>

                            Consultants, géographes, designers et experts rejoignent l’aventure selon les projets.
                        </div>

                        <div class="fw-bold fs-3 my-5" style="color:#008bac;">
                            Flaveur fait de l’accompagnement son cœur de métier
                        </div>

                    </div>

                </div>

            </div>

        </section>

        {# ===================================================== #}
        {# LOGO SECTION #}
        {# ===================================================== #}

        <section id="logoSectionHomePage">

            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">

                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-between">

                        <div class="d-flex flex-column align-items-center" data-aos="fade-up"
                            data-aos-duration="3000">
                            <img src="{{ asset('build/images/flaveur-sphere-2-1.png') }}" class="logo">
                            <p>Création de<br> valeur ajoutée</p>
                        </div>

                        <div class="d-flex flex-column align-items-center" data-aos="fade-up"
                            data-aos-duration="3000">
                            <img src="{{ asset('build/images/flaveur-sphere-5-1.png') }}" class="logo">
                            <p>Orientations<br> stratégiques<br> abouties</p>
                        </div>

                        <div class="d-flex flex-column align-items-center" data-aos="fade-up"
                            data-aos-duration="3000">
                            <img src="{{ asset('build/images/flaveur-sphere-4-1.png') }}" class="logo">
                            <p>Durabilité</p>
                        </div>

                        <div class="d-flex flex-column align-items-center" data-aos="fade-up"
                            data-aos-duration="3000">
                            <img src="{{ asset('build/images/flaveur-sphere-2-1.png') }}" class="logo">
                            <p>Gain<br> de temps</p>
                        </div>

                        <div class="d-flex flex-column align-items-center" data-aos="fade-up"
                            data-aos-duration="3000">
                            <img src="{{ asset('build/images/flaveur-sphere-1-1.png') }}" class="logo">
                            <p>Créativité</p>
                        </div>

                    </div>

                </div>
            </div>

        </section>

    </main>

</section>
{% endblock %}
