{% extends 'base.html.twig' %}

{% block title %}Hello SustainableDeveloppementAdviceController!{% endblock %}

{% block body %}
<section style="margin-bottom: 100px">

    {{ component('ServiceHeader', {
        backgroundClass: 'service-header-sustainable_development',
        title: 'Conseil en développement durable et RSE',
        subtitle: 'La RSE (Responsabilité Sociétale d’Entreprise) offre un regard nouveau<br>
                    sur le monde de l’entreprise. Mais de quoi s’agit-il ?<br>
                    Comment la mettre en œuvre et pourquoi ?  Interrogeons-nous ensemble !<br>',
        objectives: '<p><span style="font-size:x-large;color:#ffffff;">Objectifs :</span></p>'
    }) }}

    {{ component('ObjectiveGrid', {
        topImage1: 'etiquette-9-rouge-haut.jpg',
        bottomImage1: 'etiquette-9-rouge-bas.jpg',
        title1: 'Construire votre réputation et consolider votre identité',

        topImage2: 'etiquette-7-orange-haut.jpg',
        bottomImage2: 'etiquette-7-orange-bas.jpg',
        title2: 'Être vu, devenir reconnu dans votre domaine',

        topImage3: 'etiquette-3-rose-haut.jpg',
        bottomImage3: 'etiquette-3-rose-bas.jpg',
        title3: 'Encourager le rapport de confiance, créer du lien',

        topImage4: 'etiquette-9-rouge-haut.jpg',
        bottomImage4: 'etiquette-9-rouge-bas.jpg',
        title4: 'Générer du traffic, améliorer le référencement de votre site web',
    }) }}

    <div class="supportflaveur text-center container mt-5 mb-5">
        <p>Flaveur vous aide à identifier votre rôle et votre impact en tant qu’acteur<br>
            économique, social, enironnemental, puis à vous inscrire dans une logique de progression.</p>
    </div>

    {{ component('ApproachHeader', {
        title: "L’approche Flaveur",
        backgroundClass: "approach-bg-prestas7"
    }) }}

{#    <div class="container py-3">#}
{#        <div class="step-grid-6-wrapper">#}
{#            <div class="step-grid-6">#}
{#                {{ component('StepCard', {#}
{#                    title: "Comprendre",#}
{#                    description: "les mécanismes vertueux de la RSE reposant sur le triptyque la Planète- les Personnes – le Profit",#}
{#                    class:'step-card-wrapper'#}
{#                }) }}#}

{#                {{ component('StepCard', {#}
{#                    title: "Définir",#}
{#                    description: "le contenu de l’offre",#}
{#                    class:'step-card-wrapper'#}
{#                }) }}#}

{#                {{ component('StepCard', {#}
{#                    title: "Affilier",#}
{#                    description: "à un réseau d’acteurs",#}
{#                    class:'step-card-wrapper'#}
{#                }) }}#}

{#                {{ component('StepCard', {#}
{#                    title: "Établir",#}
{#                    description: "un état des lieux",#}
{#                    class:'step-card-wrapper'#}
{#                }) }}#}

{#                {{ component('StepCard', {#}
{#                    title: "Définir",#}
{#                    description: "le contenu de l’offre",#}
{#                    class:'step-card-wrapper'#}
{#                }) }}#}

{#                {{ component('StepCard', {#}
{#                    title: "Affilier",#}
{#                    description: "à un réseau d’acteurs",#}
{#                    class:'step-card-wrapper'#}
{#                }) }}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


</section>
{% endblock %}
