<div{{ attributes }}>
    <div class="objective-grid">
        {{ component('ObjectiveCard', {
            topImage: topImage1,
            bottomImage: bottomImage1,
            title: title1
        }) }}

        {{ component('ObjectiveCard', {
            topImage: topImage2,
            bottomImage: bottomImage2,
            title: title2
        }) }}

        {{ component('ObjectiveCard', {
            topImage: topImage3,
            bottomImage: bottomImage3,
            title: title3
        }) }}

        {{ component('ObjectiveCard', {
            topImage: topImage4,
            bottomImage: bottomImage4,
            title: title4
        }) }}
    </div>
</div>
