{% extends 'base.html.twig' %}

{% block title %}Hello ProjectDeveloppementController!{% endblock %}

{% block body %}
<section style="margin-bottom: 100px">
    {{ component('ServiceHeader', {
        backgroundClass: 'service-header-project-development',
        title: 'Coordination & animation de réseaux d\'acteurs',
        subtitle: 'Les projets collectifs reposent avant tout sur la capacité des acteurs à dialoguer, coopérer et construire une vision partagée. Qu’il s’agisse de démarches territoriales,
         d’événements, de création d’outils de valorisation, Flaveur accompagne les collectivités, filières et réseaux professionnels dans la coordination, l’animation et la mise en œuvre
         de projets au service du tourisme durable et du développement local.
Grâce à une approche participative et opérationnelle, Flaveur favorise les échanges, fait émerger des synergies entre acteurs et accompagne<br> la concrétisation d’initiatives adaptées aux réalités du terrain.',
        objectives: '<p class="service-objectives-title">Objectifs :</p>'
    }) }}

    {{ component('ObjectiveGrid', {
        topImage1: 'etiquette-2-bleue-claire-haut.jpg',
        bottomImage1: 'etiquette-2-bleue-bas.jpg',
        title1: 'Coordonner et suivre des projets multi-acteurs',

        topImage2: 'etiquette-1-verte-haut.jpg',
        bottomImage2: 'etiquette-1-verte-bas.jpg',
        title2: 'Concevoir des formats d’animation',

        topImage3: 'etiquette-10-jaune-haut.jpg',
        bottomImage3: 'etiquette-10-jaune-bas.jpg',
        title3: 'Faciliter la mise en réseau (public, privé, associatif) ',

        topImage4: 'etiquette-2-bleue-claire-haut.jpg',
        bottomImage4: 'etiquette-2-bleue-bas.jpg',
        title4: 'Croiser les regards et stimuler la créativité',
    }) }}

    <div class="supportflaveur text-center container mt-5 mb-5 ">
        <p class="fs-4">Retours spontanés sur une journée d’éductour pour les professionnels du tourisme, conçue pour leur faire découvrir le monde du vin.<br> Client AOC Ventoux (Mai 2022).</p>
        <p class="fs-4" style="font-style: italic">« Ma meilleure journée de formation/échange. C’était dans la simplicité et la convivialité. »<br>
            « La capacité restreinte de participants était appréciable, elle a facilité les échanges. L’atelier d’identification des atouts touristiques a permis de mieux connaitre la destination. »</p>
    </div>

    {{ component('ApproachHeader', {
        title: "",
        backgroundClass: "approach-bg-prestas6",
        text:"POUR QUI : AOC Ventoux, syndicat de la Clairette de Die et des vins du Diois, destination « Autour des Dentelles de Montmirail » comprenant les AOC Gigondas, Vacqueyras, Beaumes-de-Venise, CDR Villages Sablet, Maison des vins et du tourisme de Sablet,…<br>
            <br>QUELQUES FORMATS DE RENCONTRES ET DE TRAVAIL : Pilotage de réunions, Gestion d’ateliers de co-construction, Rencontres type speed-dating, Rando-réunions, rencontres de plein air, Réunions zéro Power Point, Éductours collaboratif, Mise en œuvre de plannings éditoriaux collectifs sur les réseaux sociaux.",
    }) }}

    {{ component('ProjectItem', {
        image: 'build/images/speed-dating-1.jpg',
        title: 'Speed Dating AOC Ventoux',
        variant: 'ventoux',
        content: "

        <strong>Commanditaire :</strong> AOC Ventoux<br>
        <strong>Année :</strong> Février 2020 ; Novembre 2022<br><br>

        Organisation de <strong>speed datings</strong> entre professionnels du tourisme et professionnels du vin.
        Une séquence de 3h où 20 professionnels se rencontrent en face-à-face toutes les 10 minutes.<br>

        Objectif : créer des synergies, réseauter, réfléchir à la réalisation de projets œnotouristiques communs,
        échanger les bonnes pratiques.
    "
    }) }}


        {{ component('ProjectItem', {
            image: 'build/images/les-vignerons-en-action-la-grande-st-vincent-de-sablet.jpg',
            title: 'La Grande Saint-Vincent de Sablet',
            variant: 'ventoux',
            content: "
        <strong>Commanditaire :</strong> Maison des vins et du tourisme de Sablet<br>
        <strong>Date :</strong> De novembre 2025 à janvier 2026<br><br>
        Accompagnement de 14 domaines viticoles de Sablet dans la conception et la mise en œuvre de la première édition de <strong>la Grande Saint-Vincent de Sablet.</strong>
        Coordination des différents groupes de travail (communication, partenariats, logistique),
        suivi régulier de l’avancement des actions et animation du collectif et de chaque pôle afin d’assurer la bonne conduite du projet.
        "
        }) }}

    {{ component('ProjectItem', {
        image: 'build/images/atelier-eductour.jpg',
        title: 'Atelier Éductour AOC Ventoux',
        variant: 'ventoux',
        content: "
        <strong>Commanditaire :</strong> AOC Ventoux<br>
        <strong>Année :</strong> Mai 2022<br><br>

        Conception et coordination d’un <strong>éductour</strong> réunissant les 7 OTI et les 2 PNR de l’aire d’appellation Ventoux afin de renforcer
        la connaissance partagée des atouts touristiques du territoire et de sensibiliser les professionnels du tourisme aux fondamentaux du vin et de l’univers viticole.
        "
    }) }}
</section>
{% endblock %}
